* {
    /* outline: 1px solid red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    
}

.wrapper {
    margin: 10px 10px;
    padding: 5px 5px;
    border: 3px solid black;
    background-color:  hsl(0, 0%, 70%);
    height: 500px;
    width: 60vw;
    display: flex;
    justify-content: space-evenly;


}

.container {
    height: 50px;
    
    justify-content: space-between;
}

.container-head {
    width: 100%;
    background-color: antiquewhite;
}

#display {
    width: 100%;
}

.btn {
    width: 50px;
    height: 50px;
    
    
}

.number-button {
    background-color: hsl(0, 0%, 30%);
    border-radius: 50%;
}

.operator-button {
    background-color: blue;
    border-radius: 50%;
}

.operator-button-ac {
    background-color: red;
}


.operator-button-equal {
    width: 100%;
    background-color: grey;
}

.number-button:hover {
    border: 3px solid white;
    background-color: hsl(0, 0%, 40%);
}

.operator-button:hover {
    border: 3px solid white;
    background-color: blue;
}

.operator-button-ac:hover {
    background-color: red;
    border: 4px solid white;
}

.operator-button-equal:hover {
    width: 100%;
    background-color: grey;
    border: 3px solid white;
}

